---
title: "Smartone-Vodafone HSDPA Network Test Results"
description: "As most readers know I conducted a joint test of Smartone-Vodafone’s HSDPA network last week; which I now found out it cost me HKD60.00 in data charges, as I had detailed in my…"
pubDate: 2009-10-15
---

As most readers know I conducted a joint test of Smartone-Vodafone’s HSDPA network last week; which I now found out it cost me HKD60.00 in data charges, as I had detailed in my post, *[Smartone-Vodafone HSDPA Network Speed Tested](http://blog.vinko.com/2009/10/06/smartonevodafone-hsdpa-network-speed/)*.

At the time Smartone-Vodafone technicians did not have the data correlated until today.  
[![SMV Network Test with SpeedTest](/wp-content/uploads/2009/10/smv-speedtest.jpg)](/wp-content/uploads/2009/10/smv-speedtest.jpg)  
These results are from running the SpeedTest iPhone application on each of the iPhones used in the test.

[![SMV Network Test with Websites](/wp-content/uploads/2009/10/smv-websites.jpg)](/wp-content/uploads/2009/10/smv-websites.jpg)  
These two data chart were provided by Smartone-Vodafone, so it has the tendency to show Smartone-Vodafone network as the faster network.

I would not have averaged out the speeds of the test on site by site bases, as we are talking about different locations on Hong Kong island at different time of the day. The better way to look at these data is to average out the browsing speed on a per site, per location bases. Below is the chart showing the speed in number of seconds to completely load the respective web page.  
[![SMV Location View](/wp-content/uploads/2009/10/smv-location.png)](/wp-content/uploads/2009/10/smv-location.png)  
As you can see from the chart above. It is not that web browsing speed of the iPhone 3GS on the Smartone-Vodafone network is always faster than the iPhone 3GS on the 3 HK network. The important thing is that the browsing speed is much more consistent for the iPhone 3GS on the Smartone-Vodafone network.

Having a consistent speed is much more important than having a fast downlink or uplink. I hope that this will provide consumers in Hong Kong a close to real life comparison of the two mobile carriers’ 3G networks.
